:root
{
    /*colors*/
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
    /*typography*/
    --font-family: 'Spartan';
}

*::before
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 100vh;
    font-family: var(--font-family);
    font-size: 15px;
    background: url(./images/bg-pattern-top-mobile.svg), url(./images/bg-pattern-bottom-mobile.svg);
    background-repeat: no-repeat;
    background-position: left top, left bottom;
}

main
{
    margin: 5%;
    display: flex;
    justify-content: center;
}

.container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container .block
{
    margin: 5% 0;
}

.block .content_intro
{
    color: var(--very-dark-magenta);
    text-align: center;
}

.block .content_intro h1
{
    margin: 0 10%;
    font-weight: 700;
    font-size: 2.2em;
}
.block .content_intro p
{
    line-height: 1.5;
}

#rating
{
    width: 100%;
}
#rating .content_rating
{
    justify-items: center;
}

.content_rating .rate
{
    margin: 5% 3%;
    text-align: center;
    background-color: var(--light-grayish-magenta);
    padding: 0.9em;
    border-radius: 5px;
    color: var(--very-dark-magenta);
    font-weight: 700;
}
.content_rating .rate .star img
{
    margin: 0 0.2em;
}
.content_rating .rate p
{
    margin-bottom: 0;
}

.content_feedback
{
    display: flex;
    flex-direction: column;
    color: var(--white);
    line-height: 1.5;
}

.content_feedback .feedback
{
    margin: 5% 0;
    padding: 8%;
    background: var(--very-dark-magenta);
    border-radius: 5px;
}

.feedback .info
{
    display: flex;
    align-items: center;
}

.feedback .info .info_img
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}
.feedback .info .info_img img
{
    width: 40px;
}

.feedback .info .info_name
{
    margin-left: 8%;
}
.feedback .info .info_name h2, h3
{
    font-size: 1em;
    margin: 0;
}

.feedback .info .info_name h3
{
    color: var(--soft-pink);
    font-weight: 400;
}

footer
{
    text-align: center;
    margin: 5%
}
.attribution
{
    color: var(--dark-grayish-magenta);
}
.attribution a
{
    text-decoration: none;
    color: var(--soft-pink);
}

@media screen and (min-width: 1000px)
{
    body
    {
        background: url(./images/bg-pattern-top-desktop.svg), url(./images/bg-pattern-bottom-desktop.svg);
    }
}